html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #eee;
}

.container {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

button {
    display: block;
    min-width: 200px;
    background-color: #72C3DC;
    border: none;
    border-radius: 7px;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 6px #2A8EAD;
    margin: 18px auto;
    outline: none;
}

button:hover {
    background-color: #2A8EAD;
    box-shadow: 0px 6px #2A8EAD;
}

.row:after {
    content: ' ';
    display: table;
    clear: both;
}

.col-4 {
    width: 33.33333333%;
    float: left;
    height: 33.33333333%;
    display: table;
}

.side-menu {
    float: right;
}

.col-4>span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 5rem;
}

.col-8 {
    width: 66.66666667%;
    float: left;
}

.game>div {
    display: inline-block;
}

.game>div:first-child {
    width: 70%;
    height: 80vh;
}

.num-container {
    height: 90vh;
}

.author {
    text-align: center;
    font-style: italic;
}

.box-1 {
    background-color: #6E97A7;
}

.box-2 {
    background-color: #2B8EAD;
}

.box-3 {
    background-color: #2F454D;
}

.box-4 {
    background-color: #2B8EAD;
}

.box-5 {
    background-color: #2F454D;
}

.box-6 {
    background-color: #BFBFBF;
}

.box-7 {
    background-color: #BFBFBF;
}

.box-8 {
    background-color: #6F98A8;
}

.box-9 {
    background-color: #2F454D;
}

.author {
    margin-top: 10px;
}

h1 {
    text-align: center;
    margin: 0;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        position: fixed;
    }

    h1 {
        background-color: #323232;
        color: #fff;
        font-size: 18px;
        padding: 10px 0;
        font-weight: normal;
    }

    .box {
        width: 100%;
        float: none;
        margin: 4px;
        padding-left: 10px;
    }

    .box>span {
        font-size: initial;
        color: #000;
        display: inline-block;
        background-color: #EFEFEF;
        width: 100%;
        height: 100%;
        margin: 0;
        text-align: center;
        padding: 15px 0;
    }

    .side-menu,
    .col-8 {
        width: 100%;
        float: none;
    }

    .side-menu {
        text-align: center;
    }

    button {
        display: inline-block;
        min-width: 40%;
        margin-right: 5px;
        margin-left: 5px;
    }

    .num-container {
        height: auto;
    }
}

